.container {
  margin-top: 30px;
  margin-inline: auto;
  width: 600px;
  height: auto;
  border-style: solid;
  background-color: rgb(245, 190, 71);
}

.title {
  text-align: center;
}

.form {
  padding-inline: 50px;
}

.form-input {
  width: 300px;
}

.btn-wrapper {
  text-align: center;
}

.btn-pesan {
  padding: 15px;
  background-color: white;
  border-radius: 5px;
}

.form-label {
  width: 250px;
  padding-top: 10px;
  padding-bottom: 10px;
}

#hasil {
  padding-inline: 50px;
}
